@model EventEaseManagementSystem.Models.Customer

<h1>Delete</h1>

<div class="container text-center">
    <div class="card" style="width: 18rem;">
        <img src="@Model.ProfilePicture" class="card-img-top" alt="@Model.FirstName">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h5>
            <p class="card-text">Customer Details:</p>
            <p>Email: @Html.DisplayFor(model => model.Email)</p>
            <p>Phone Number: @Html.DisplayFor(model => model.PhoneNumber)</p>
            <form asp-action="Delete">
                <input type="hidden" asp-for="CustomerId" />
                <input type="submit" value="Delete" class="btn btn-danger"/>
                <a class="btn btn-warning" asp-action="Index">Back To List</a>
            </form>
        </div>
    </div>
</div>